services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    volumes:
      - /home/miron/radon/image-uploader/uploads:/data/uploads
    expose:
      - "8000"
    restart: always

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    depends_on:
      - api
    # Явно открываем порт 8090 наружу, минуя прокси Coolify
    ports:
      - "8090:80"
    restart: always
