version: '3.8'
services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    volumes:
      - uploader_data:/data/uploads
    expose:
      - "8000"
    restart: always

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    depends_on:
      - api
    ports:
      - "80:80"
    restart: always

volumes:
  uploader_data: